@import url('https://rsms.me/inter/inter.css');

:root {
    --background: #fab700;
    --dark: #212121;
    --size-bezel: .5rem;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: var(--dark);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: var(--background); */
}
/* main { */
/*     display: flex; */
/*     flex-direction: column; */
/*     background: white; */
/*     padding: calc(4 * var(--size-bezel)); */
/*     margin-top: calc(4 * var(--size-bezel)); */
/*     border: 3px solid var(--dark, currentColor); */
/*     box-shadow: .2rem .2rem 0 var(--dark, currentColor); */
/*     width: 40vw; */
/* } */

button {
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: var(--dark);
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}
footer {
    position: absolute;
    bottom: 0;

}
header {
    position: absolute;
    top: 0;
    right: 0;
}
a {
    color: var(--dark)
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.small-margin {
    margin: 15px
}
#search-bar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
}

        
